<?xml version="1.0"?>
<configuration>

  <location path="Manage.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>

  <system.web>
    <customErrors defaultRedirect="Default.aspx"
      mode="Off">
    </customErrors>
  </system.web>
</configuration>
